@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar (optional) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
}

